.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: -10rem auto 0 auto;
    position: relative;
    background-color: rgba(41,35,52,0.7);
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
    animation: summary-appear 2s ease-out forwards;


}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
}
@keyframes summary-appear {
    from {
        background-color: rgba(41,35,52,0.1);
        transform: translateY(-5rem);
    }
    to {
        background-color: rgba(41,35,52,0.7);
        transform: translateY(0);
    }
}

