body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  animation: body-appear 1.5s ease-out forwards;
  overflow: auto;
}

@keyframes body-appear {
  from {
    opacity: 0;
  }
  to {
    opacity:100
  }
}