body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  animation: body-appear 1.5s ease-out forwards;
  overflow: auto;
  display: flex;
  flex-direction: column;
}




::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #357A4A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0C4A1F;
}

@keyframes body-appear {
  from {
    opacity: 0;
  }
  to {
    opacity:100
  }
}